@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

.header-image {
  position: relative;
}

.header-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url('/radio-station-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: brightness(.6);
  z-index: -1;
}

.menu-item {
    display: inline-block;
    position: relative;
}

.menu-item:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}

.musesStyleReset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
}
